.white{
    background-color: white;
    border-style: solid;
    margin: 20px;
}
.panel1{
    border-style:solid
}
body{
    font-family: schoolbell;
}
.image1{
    display: flex;
    margin-left: 20px;
    border-style: solid;
}
.panel{
    margin:15px;
}
.white1{
    background-color: white;
}
